@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}

header {
  position: absolute;
  width: 100%;
}

.button-primary {
  padding: 10px 20px;
}

.custom-nav-wrapper {
  margin-top: 35px !important;
  padding-left: 15px;
  padding-right: 15px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  opacity: 0.3;
  border-width: 5px;
  border-style: solid;
  border-color: #fcb0b4;
}
/* .images-badge {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  background-color: #c27b7f;
  color: #ffffff;
  top: 65%;
  left: 55%;
  text-align: center;
  box-shadow: 0px 30px 40px 0px rgba(1, 6, 33, 0.06);
  line-height: 1.2;
  animation: upDown 3s linear infinite alternate;
  z-index: 5;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@media (max-width: 768px) {
  .images-badge {
    width: 70px;
    height: 70px;
    font-size: 12px;
    top: 60%;
    left: 10%;
  }
} */


.x1 {
  animation: movecircles 25s linear infinite;
  transform: scale(0.6);
  top: 150px;
}

.x2 {
  left: 200px;
  top: 200px;
  transform: scale(0.6);
  transform: scale(0.6);
  transform: scale(0.6);
  animation: movecircles 35s linear infinite;

}

.x3 {
  left: -250px;
  bottom: 250px;
  transform: scale(0.8);
  transform: scale(0.8);
  transform: scale(0.8);

}

@keyframes movecircles {
  0% {
    transform: translate(0, 0) scale(0.6);
  }

  50% {
    transform: translate(50px, 100px) scale(0.6);
  }

  100% {
    transform: translate(0, 0) scale(0.6);
  }
}

.nav-link {
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
  color: white;
  transition: color 0.3s ease;
}

.achieve-item {
  box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
}

.achieve-icon {
  width: 60px;
  height: 60px;
  background-color: #c27b7f;
  color: #ffffff;
  box-shadow: 3px 3px #876585;
  transition: 0.3s;
  font-size: 30px;
}

.achive-tital {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0 !important;
  width: 30px;
  height: 2px;
  background-color: #c27b7f;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.nav-link:hover::after {
  opacity: 1;
}

.hero-section {
  position: relative !important;
  background-color: #f5ebe6;
  padding-top: 200px !important;
  padding-bottom: 100px;
  overflow: hidden !important;

}

.home-text {
  letter-spacing: 4px;
  color: #c27b7f;
  font-weight: 600;


}

.text-heading {
  font-size: 56px;
  font-family: "Philosopher", sans-serif;
  font-weight: 600;
  color: #2f4858;
}

.text-p {
  color: #616162;
  font-size: 20px;
}

.input {
  border: 0;

  box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
  padding: 15px 15px;
  width: 300px;
}

.tital {
  font-family: "Philosopher", sans-serif;
  font-weight: 600;
  color: #2f4858;
}

.section-divider {
  width: 200px;
  border-width: 1px;
  border-style: solid;
  border-color: #793c3f;
  opacity: 0.4;
  left: 42%;
}

.section-divider::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #7d4b4d;
  top: -9px;
  opacity: 0.4;
  right: 50%;
  transform: rotate(45deg);
}

.section-divider::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background: #78494b;
  top: -9px;
  left: 45% !important;
  opacity: 0.4;
  transform: rotate(45deg);
}

.benefits-img {
  width: 95%;
  z-index: 2;
}

.achive-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 1;
  background-color: #876585;
  border-radius: inherit;
  height: 90%;
  width: 90%;
  border-radius: 5px;
}

.achieve-icon {
  background-color: #d8a7a7;
  width: 60px;
  height: 60px;
  border-radius: 2px;
  font-size: 24px;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.achieve-item:hover {
  background-color: #c27b7f;
  color: #fff;
}

.achieve-item:hover .achieve-icon {
  border-radius: 62% 38% 46% 54% / 60% 63% 37% 40%;
  background-color: #876585;
  box-shadow: 3px 3px #fcb0b4;
  transform: rotate(7deg);
}

.achive-tital {
  transition: color 0.5s ease;
}

.description {
  transition: color 0.5s ease;
}

.chapter-section {
  background-color: #f5ebe6
}

.contact-form {
  background-color: #f5ebe6;
  border-bottom: 2px solid transparent;
  border: none !important;
}

.contact-name {
  padding: 11px !important;

}

.contact-content {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  color: #2f4858;
}

.ct {
  color: #c27b7f;
  font-size: 56px;
  font-weight: 700;
}

.contact-icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  font-size: 17px;
  background-color: #c27b7f;
  color: #ffffff;
  transition: all 0.5s;
  box-shadow: 3px 3px #876585;
  ;
}

.contact-icon i:hover {
  background-color: #876585;
  box-shadow: none !important;
}

.bg-color {
  background-color: #f5ebe6;
  margin-top: 70px;
}

.footer-bg {
  background-color: #f5ebe6;
}

.footer-text {
  line-height: 1.8;
  font-size: 17px;
}

.footer-title {
  color: #c27b7f;
  font-size: 17px;
  font-weight: 600;
}

.use-link {
  color: #676768;
  line-height: 1.9;
}



.accordion-button {
  background-color: #c27b7f !important;
  color: white !important;
  font-family: "Philosopher", sans-serif !important;
  color: #2f4858;
  font-weight: 700;
  position: relative;
  font-size: 20px !important;
}

.accordion-button::after {
  content: "";
  display: inline-block;
  font-size: 22px;
  color: #ffffff !important;
  position: absolute;
  right: 20px;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out !important;
}


.accordion-item {
  border-bottom: none;
  margin-bottom: 12px;
  border-radius: 9px !important;
  box-shadow: 0px 1px 20px 0px rgba(1, 6, 33, 0.06);

}

.accordion-button:focus {
  box-shadow: none !important;
}

.preview {
  width: 310.5px;
  margin-right: 18px;
}
.pricing:hover{
  box-shadow: 5px 5px #876585;
}
.pricing_title {
  font-family: "Philosopher", sans-serif !important;
  font-weight: 700;
  font-size: 28px;
  color: #2f4858;
}

.pricing_price {
  font-size: 40px;
  font-family: "Philosopher", sans-serif;
  color: #2f4858;
  font-weight: 700;
}

.pricing-btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;
  background-color: transparent;
  color: #c27b7f;
  transition: all 0.5s ease;
  cursor: pointer;
  text-align: center;
}

.pricing-btn::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c27b7f;
  transition: all 0.5s ease;
  top: 0px;
  left: 0px;
  border-right: none;
}

.pricing-btn::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c27b7f;
  transition: all 0.5s ease;
  top: 0px;
  left: 117px;
  border-left: none;
}

.pricing-btn:hover {
  text-decoration: none;
  background: #c27b7f;
  color: #ffffff;
  transition-delay: 0.35s;
}

.author-img {
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: #c27b7f;
  border-radius: 5px;
}

.author-img img {
  max-width: 100%;
  height: auto;
}

.author-content h4 {
  font-family: "Philosopher", sans-serif;
  color: #2f4858;
  font-weight: 700;
  font-size: 24px;
}

.card-line {
  border-top: 1px solid #c27b7f;
}

.section-video {
  background-image: url('/image/ctav4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 400px;
}

.video-btn i {
  position: relative;
  margin-top: 30% !important;
  
  
}

.icon-color {
  color: #c27b7f;
  font-size: 40px;
}

.mySwiper {
  width: 100%;
  padding-bottom: 40px;
}

.waves-block {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.waves {
  position: absolute;
  border: 2px solid #f00;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: wave 2s infinite ease-out;
  opacity: 0.6;
}

.wave-1 {
  animation-delay: 0s;
}

.wave-2 {
  animation-delay: 0.5s;
}

.wave-3 {
  animation-delay: 1s;
}

@keyframes wave {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.icon {
  color: #c27b7f;
}

.card {
  box-shadow: 0px 1px 15px 0px rgba(1, 6, 33, 0.06);
  border-radius: 5px;
  overflow: hidden;
}

.card-title {
  color: #c27b7f !important;
  font-family: "Philosopher", sans-serif !important;
  font-size: 24px;
  font-weight: 700;
}

.card-text {
  color: #2f4858;
}

.contactme-icon {
  opacity: 0.3;
  color: #c27b7f;
  font-size: 140px;
}

.award-icon {
  font-Size: 60px;
  top: 10px;
  right: 10px;
  opacity: 0.1;
}

.award-title {
  font-family: "Philosopher", sans-serif !important;
  font-size: 28px;
  color: #2f4858;
  margin-bottom: 20px;
  font-weight: 700;
}

.award-dec {
  font-size: 17px;
}

.allbutton {
  padding: 12px 30px;
  cursor: pointer;
  background: #c27b7f; /* Default color */
  color: #ffffff;
  border: none;
  text-align: center;
  line-height: 30px;
  margin: 0;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

.allbutton::before {
  content: "";
  background: #876585; 
  transform: skew(30deg) translateX(-100%);
  transition: transform 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 135%;
  height: 100%;
  z-index: -1;
}

.allbutton:hover::before {
  transform: skew(30deg) translateX(0%);
}

.allbutton:hover {
  color: #ffffff;
}

